<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kursovaya</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <div class="main">
        <div class="wrapper">
            <div class="content">
                <div class="functions">
                    <div class="liveSearchBlock">
                        <h4>Search</h4>
                        <input type="text" class="byNumber" placeholder="Search by number">
                        <form id="liveSearch">
                            <select name="liveSearch" id="liveSearch" class="liveSearchField">
                                <option value="none" disabled selected>Category...</option>
                                <option value="name">Name</option>
                                <option value="mobilenumber">Mobile Number</option>
                            </select>
                        </form>
                        <input type="text" class="byName" placeholder="Search..."><br>
                        <input type="checkbox" onclick="checkFree()" class="byFreeNumber"><label>Free Numbers</label><br>
                        <h2>Добавить ATS: </h2>
                        <input class="addBtn" type="button" value="Добавить">
                        <input class="delBtn" type="button" value="Удалить">
                    </div>
                </div>
                <div class="list"></div>
            </div>
        </div>
    </div>

    <div class="bg_assign">
        <div class="assign">
            <div class="assign_content">
                <div class="assgn_some">
                    <div class="choosed_number"></div>
                    <div class="assign_btns">
                        <input class="asBtn_save" type="button" value="Потвердить">
                        <input class="asBtn_cancel" type="button" value="Отменить">
                    </div>
                </div>
                <div class="list_of_ats"></div>
            </div>

            

        </div>
    </div>

    <div class="bg_addAts">
        <div class="addAts">
            <div class="addAts_content">
                <h2>Add ATS</h2>
                <input type="number" class="addNumber" placeholder="Number"><br>
                <input type="text" class="addName" placeholder="Name"><br>
                <input type="text" class="addSurname" placeholder="Surname"><br>
                <input type="text" class="addLastname" placeholder="Last Name"><br>
                <input type="text" class="addAddres" placeholder="Addres"><br>
                <input type="number" class="addMobileNumber" placeholder="Mobile Number"><br>
                <input type="text" class="addEmail" placeholder="Email"><br>
            </div>
            <div class="assign_btns">
                <input class="addBtn_save" type="button" value="Добавить">
                <input class="addBtn_cancel" type="button" value="Отменить">
            </div>
        </div>
    </div>

    <div class="bg_delAts">
        <div class="delAts">
            <div class="delAts_content">
                <h2>Delete ATS</h2>
                <input type="number" class="delNumber" placeholder="Number"><br>
            </div>
            <div class="assign_btns">
                <input class="delBtn_save" type="button" value="Удалить">
                <input class="delBtn_cancel" type="button" value="Отменить">
            </div>
        </div>
    </div> 

    <script src="js/index.js"></script>
</body>
</html>